// Disable peer dependency installation, it is enabled by default in npm >= 7.
// https://github.com/npm/rfcs/blob/main/implemented/0025-install-peer-deps.md
legacy-peer-deps=true
engine-strict=true
include-optional=true